@import '../../styles/variables';
@import '../../styles/mixins';
header {
  @include header(400px);
}

header {

  .pricing-header {
    color: #fff;
    text-align: center;
    margin-top: 100px;

    h1 {
      font-size: 60px;
    }
  }
}
.pricing-section {
  text-align: center;
  .pricing-plans {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    

    .pricing-box {
      padding: 60px 10px;
      width: 33%;
      margin: 5px;
      line-height: 30px;
      position: relative;

      .plan-details {
        position: absolute;
        top: 100px;
        left: 65px;
        color: #fff;

        a {
          margin-top: 20px;
          border: none;
          padding:10px 40px;
          background-color: $textSecondary;
          font-weight: bold;
        }
      }

      img {
        width: 100%;
        height: 450px;
      }

      ul {
        margin-left: 20px;
        li {
          list-style: none;
          text-align: justify;
        }
      }
    }

  }
}