@import '../../styles/variables';
@import '../../styles/mixins';
header {
  @include header(600px);
}
section {
  margin-top: 100px;
}
.box {
  width: 350px;
  margin-right: 20px;
  text-align: center;
  color: #fff;
  min-height: 200px;
  padding: 20px;

  img {
    margin: 45px 0;
  }
  p {
    margin-top: 20px;
  }
  
}
.progression {
  background: url('https://i.ibb.co/0G8LzsY/price2.jpg');
  background-size: cover;
}
.workout {
  background: url('https://i.ibb.co/8XtYwwc/daniel-apodaca-Wdo-Qio6-HPVA-unsplash.jpg');
  background-size: cover;

  img {
    margin-top: 80px;
  }
}
.nutrition {
  background: url('https://i.ibb.co/9smG29h/price1.jpg');
  background-size: cover;
}

// Home about us

.home-about-us {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
  
  .left-about {
    width: 40%;
    margin-right: 80px;

    img {
      width: 400px;
      height: 400px;
    }
  }
  .right-about {
    width: 40%;
  }
}

// Training

.training {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  

  .training-box {
    width: 48%;
    min-height: 350px;
    margin-right: 10px;
    position: relative;

    button {
      position: absolute;
      bottom: 30px;
      border: none;
      padding: 15px 25px;
      background-color: $textSecondary;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 15px;
    }
  }
  .yoga {
    background: url('https://i.ibb.co/g48xcyg/bruce-mars-g-Jt-Dg6-Wf-Ml-Q-unsplash.png');
    background-size: contain;
    background-position: center;
  }

  .cardio {
    background: url('https://i.ibb.co/bJY0FsY/arthur-edelman-qfjuh4-OLdxw-unsplash.jpg');
    background-size: contain;
    background-position: center;
  }
}

.why-choose {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  .why-choose-box {
    text-align: center;
    padding: 60px 10px;
    width: 33%;
    box-shadow: 5px 5px 10px gray;
    margin: 5px;
    transition: all .5s;
    cursor: pointer;
    border: 1px solid rgba($color: #ffc107, $alpha: 0);
    line-height: 30px;

    img {
      width: 80px;
    }
    h5 {
      font-weight: bold;
      margin: 30px 0 20px 0;
    }
    &:hover{
      border: 1px solid rgba($color: #ffc107, $alpha: .8);
    }
  }
}