@import '../../styles/variables';

.secondary-text {
  color: $textSecondary;
}

header {
  
  nav {
    .navbar-brand {
      color: #fff;
      font-size: 40px;
      font-weight: bolder;
    }
    ul {
      li {
        margin-right: 10px;
        a {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }


}

