footer {
  margin-top: 100px;
  background-color: #130f40;
  color: #fff;
  
  .footer-section {
    width: 90%;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer-box {
      width: 20%;

      ul {
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 5px;
          
        }
      }
      
    }
  }
  .copyright {
    text-align: center;
    padding-bottom: 15px;
  }
}